@using MyProject.Models.Sinif
@model List<KVKKSozlesmesi>
@{
    ViewBag.Title = "KVKK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!doctype html>
<html class="no-js" lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2c2c2c">
    <meta name="msapplication-navbutton-color" content="#2c2c2c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">
    <title>KVKK, webigem Yazılım Şirketi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="kvkk, web yazılım,sosyal medya yönetimi,reklam,logo tasarim ankara" />
    <meta name="description" content="Ankara Yazilim Sirketi kişisel verilerin korunma kanunu,Yazilim şirketi, Webigem Yazılım Şirketi | Web Yazılım | Web Tasarım | E-Ticaret | Grafik Tasarım | Ankara - İstanbul-İzmir" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="publisher" content="webigem.com" />
    <meta name="copyright" content="webigem ®" />
    <meta name="date-creation-yyyy" content="2021" />
    <meta name="classification" content="Machine" />
    <meta name="author" content="webigem Software Company E-commerce website construction & Service 7/24 Opening" />
    <meta name="rating" content="all" />
    <meta name="expires" content="no" />
    <meta name="language" content="TR" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="all" />
    <meta name="googlebot" content="NOODP" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="revisit-after" content="1 Day" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="GENERATOR" content="webigem.com" />
    <meta name="RESOURCE-TYPE" content="DOCUMENT" />
    <meta name="DISTRIBUTION" content="GLOBAL" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="REVISIT-AFTER" content="1 DAYS" />
    <meta name="RATING" content="GENERAL" />
    <meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="webigem Software Company E-commerce website construction & Service 7/24 Opening" />
    <meta property="og:url" content="https://webigem.com/" />
    <meta property="og:title" content="webigem Software Company E-commerce website construction & Service 7/24 opening" />
    <meta property="og:description" content="webigem Software Company E-commerce website construction & Service 7/24 opening" />
    <meta property="og:image" content="~/Resimler/WEBİGEM.png" />
    <link rel="canonical" href="https://webigem.com/" />
    <!-- favicon icon -->
    <link rel="shortcut icon" href="~/Resimler/WEBİGEM.png">
    <link rel="apple-touch-icon" href="~/Resimler/WEBİGEM.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Resimler/WEBİGEM.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Resimler/WEBİGEM.png">
    <link rel="icon" type="image/png" href="~/Content/WebigemDesign/main/default/assets/img/favicon.png">
</head>
<body>
    <div class="inner-banner inner-bg4">
        <div class="container">
            <div class="inner-title text-center">
                <h3>KVKK</h3>
                <ul>
                    <li>
                        <a href="/">Ana Sayfa</a>
                    </li>
                    <li>
                        <i class='bx bxs-chevrons-right'></i>
                    </li>
                    <li>KVKK </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="privacy-policy-area ptb-100">
        <div class="container">
            <div class="single-content">
                <h3>
                    WEBIGEM Gizlilik Politikasına Hoş Geldiniz
                </h3>
                @foreach (var x in Model)
                {


                    @*<h5>
                        @Html.Raw(x.AltBaslik)

                    </h5>*@

                    <h3>
                        @Html.Raw(x.AltBaslik2)
                    </h3>
                    <p>
                        @Html.Raw(x.icerik)

                    </p>
                }
            </div>
        </div>
    </div>

</body>

</html>
