@*@using MyProject.Models.Sinif
@model List<Referanslar>

<div class="container">
    <div class="row align-items-center row-cols-1 row-cols-lg-4 row-cols-sm-2 client-logo-style-02">
        @foreach (var x in Model)
        {
            <div class="col text-center md-margin-50px-bottom wow animate__fadeIn">
                <a href="#" class="client-logo"><img alt="" src="@x.Resim"></a>
            </div>
        }

    </div>
</div>*@