@using MyProject.Models.Sinif
@model List<Notlar>

@foreach (var x in Model)
{
    <ul>
        <li>
            <div class="avatar"><img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
            <div class="comment-content">
                <div class="arrow-comment"></div>
                <div class="comment-by">
                    @x.AdSoyad <i class="tip"></i> <span class="date">@Convert.ToDateTime(x.Tarih).ToString("dd/MMM/yyyy")</span>
                </div>
                <p>@x.icerik</p>
            </div>
        </li>


    </ul>
}
