@using MyProject.Models.Sinif
@model List<Slider> 
@{
    ViewBag.Title = "AdminSlider";
    Layout = "~/Views/Shared/Admin_Layaout.cshtml";
}

<div style="width:100%" ; class="col-md-12 table table-hover">
    <h3>Sliderler</h3>
    <table class="table table-bordered">
        <tr>
            <th>Başlık</th>
            <th>Kısa Yazı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Baslik</td>
                <td>@x.KisaYazi</td>
                <td><a href="~/Admin/AdminSSil/@x.id" onclick="return confirm('Bunu Silmek İstediginizden Emin misin? @x.Baslik')" class="button border with-icon" style="background-color:#ff0000; color:#fff">Sil</a></td>
                <td><a href="~/Admin/AdminSGetir/@x.id" class="button border with-icon">(Detay)</a></td>
            </tr>
        }
    </table>
    <a href="/Admin/AdminSEkle/" class="button border with-icon">Yeni Slider İçerigi Ekle</a>

</div>

