<!Doctype html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2c2c2c">
    <meta name="msapplication-navbutton-color" content="#2c2c2c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">
    <title>Yazılım Şirketi | Web Yazılım | WEB Tasarım |  Ankara Yazılım Şirketi | Webigem Yazılım Şirketi | Ankara | İstanbul | Türkiye </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="web yazılım,yazilim,web tasarım,grafik tasarım,e-ticaret,SEO,site bakımı,özel yazılım,sosyal medya yönetimi,reklam,logo tasarımı ankara,istanbul" />
    <meta name="description" content="2018'den beri kurumsal firmaların müşterilerine ulaşmalarına yardımcı oluyoruz. WEBIGEM olarak; hızla gelişen teknolojiyi takip ederek firmaların ihtiyaçları doğrultusunda, güncel teknolojilerle çözümler sunuyoruz. Web tasarım, yazılım çözümleri, reklamlar ve SEO gibi dijital dünyanın gerekleri olan çalışmalarda referansları ile kendini ispatlamış olan WEBIGEM ekibi olarak; tüm dijital talepler için çözüm sunmaktayız." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="publisher" content="webigem.com" />
    <meta name="copyright" content="webigem ®" />
    <meta name="date-creation-yyyy" content="2021" />
    <meta name="classification" content="Machine" />
    <meta name="author" content="webigem Software Company E-commerce website construction & Service 7/24 Opening" />
    <meta name="rating" content="all" />
    <meta name="expires" content="no" />
    <meta name="language" content="TR" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="all" />
    <meta name="googlebot" content="NOODP" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="revisit-after" content="1 Day" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="GENERATOR" content="webigem.com" />
    <meta name="RESOURCE-TYPE" content="DOCUMENT" />
    <meta name="DISTRIBUTION" content="GLOBAL" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="REVISIT-AFTER" content="1 DAYS" />
    <meta name="RATING" content="GENERAL" />
    <meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="webigem Software Company E-commerce website construction & Service 7/24 Opening" />
    <meta property="og:url" content="https://webigem.com/" />
    <meta property="og:title" content="webigem Software Company E-commerce website construction & Service 7/24 opening" />
    <meta property="og:description" content="webigem Software Company E-commerce website construction & Service 7/24 opening" />
    <meta property="og:image" content="~/Resimler/WEBİGEM.png" />
    <link rel="canonical" href="https://webigem.com/" />
    <link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/css/owl.theme.default.min.css">*@
    <link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/css/owl.carousel.min.css">
    @*<link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/css/magnific-popup.min.css">*@
    @*<link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/css/animate.min.css">*@
    <link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/fonts/flaticon.css">
    <link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/WebigemDesign/main/default/assets/css/responsive.css">
    <link rel="icon" type="image/png" href="~/Content/WebigemDesign/main/default/assets/img/favicon.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QVLGLCNDPW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QVLGLCNDPW');
    </script>


</head>
<body>

    <div class="preloader">
        <div class="preloader-wave"></div>
    </div>


    <header class="header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-9">
                    <div class="header-content-right">
                        <ul class="header-contact">
                            @Html.Action("iletisimBilgiHeader", "Default")

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="header-content-right">
                        <ul class="header-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http://www.twitter.com/" target="_blank"><i class="bx bxl-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                            </li>
                            <li>
                                <a href="http://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="navbar-area">

        <div class="mobile-nav">
            <a href="/" class="logo">
                <img src="~/Resimler/WEBİGEM.png" width="150px;" alt="Logo">
            </a>
        </div>

        <div class="main-nav top-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light ">
                    <a class="navbar-brand" href="/">
                        <img src="~/Resimler/WEBİGEM.png" width="150px;" alt="Logo">
                    </a>
                    <a class="navbar-brand-sticky" href="/">
                        <img src="~/Resimler/webigembeyazlogo.png" width="150px;" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">

                            <li class="nav-item">
                                <a href="/" class="nav-link">
                                    Ana Sayfa
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/default/TumHizmetler" class="nav-link">
                                    Hizmetler
                                </a>
                            </li>
                            @*<li class="nav-item">
                                <a href="~/Default/Paketler" class="nav-link">
                                    Paketler
                                </a>
                            </li>*@
                            <li class="nav-item">
                                <a href="~/Default/Projeler" class="nav-link">
                                    Projeler
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Default/Bloglar" class="nav-link">
                                    Bloglar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Default/iletisim"  class="nav-link">
                                    İletişim
                                </a>
                            </li>

                        </ul>
                        <div class="menu-btn">
                            <a href="~/Default/FormSayfasi" class="seo-btn">Talep Oluştur</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>



    @RenderBody()




    <footer class="footer-area-another">
        <div class="footer-top-2 pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-single-2">
                            <div class="footer-single-content-2">
                                <a href="/">
                                    <img src="~/Resimler/WEBİGEM.png" width="250px;" alt="Logo">
                                </a>


                                @Html.Action("HakkimizdaFooter", "Default")

                            </div>
                            <ul class="footer-social">
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-list-2 ml-50">
                            <h3>Hizmetlerimiz</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="~/Default/TumHizmetler">Tüm Hizmetlerimiz</a>
                                </li>
                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="~/Default/FormSayfasi">Talep Oluştur</a>
                                </li>
                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="~/Default/Projeler">Projelerimiz</a>
                                </li>
                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="~/Default/Bloglar">Bloglar</a>
                                </li>

                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="~/Default/KVKK">Gizlilik KVKK</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-list-2">
                            <h3 class="color-title">Hızlı Erişim</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="/">Ana Sayfa</a>
                                </li>
                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="~/Default/Hakkimizda">Hakkımızda</a>
                                </li>
                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="/Default/BizimTakim">Yetkililerimiz</a>
                                </li>

                           
                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="~/Default/SSS">SSS</a>
                                </li>
                                <li>
                                    <i class='bx bxs-chevron-right'></i>
                                    <a href="~/Default/iletisim">İletişim</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-list-2 ml-20">
                            <h3>Bize Ulaşın</h3>
                            <ul>
                                @Html.Action("iletisimBilgiFooter", "Default")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="bottom-text-2 text-center">
                            <p>
                                © 2021 Webigem Tüm Hakları Saklıdır.
                                <a href="https://webigem.com/" target="_blank">Webigem</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*<script src="~/Content/WebigemDesign/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    <script src="~/Content/WebigemDesign/main/default/assets/js/jquery-3.5.0.min.js"></script>

    <script src="~/Content/WebigemDesign/main/default/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/WebigemDesign/main/default/assets/js/meanmenu.min.js"></script>

    <script src="~/Content/WebigemDesign/main/default/assets/js/owl.carousel.min.js"></script>

    <script src="~/Content/WebigemDesign/main/default/assets/js/jquery.magnific-popup.min.js"></script>

    <script src="~/Content/WebigemDesign/main/default/assets/js/wow.min.js"></script>

    <script src="~/Content/WebigemDesign/main/default/assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="~/Content/WebigemDesign/main/default/assets/js/form-validator.min.js"></script>

    @*<script src="~/Content/WebigemDesign/main/default/assets/js/contact-form-script.js"></script>*@

    <script src="~/Content/WebigemDesign/main/default/assets/js/custom.js"></script>
</body>

</html>