.col-md-3 a:hover {
  color: #e76b0a;
  text-decoration: underline;
}
.col-md-3 a {
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial;
}
.col-md-3 {
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial;
}

/********************Medya************************/
/* @media (min-width: 420px) and (max-width: 995px) {
  .col-md-3 {
    padding: 0px;
    margin: 0px;
  }
} */
